<nav class="main-navigation" >
  <div class="navbar-header animated fadeInUp">
      <a class="navbar-brand" [routerLink]="['/']"><img src="assets/img/icon.png"></a>
  </div>
  <ul class="nav-list">
      <li class="nav-list-item">
          <a class="nav-link" [routerLink]="['/landing']">Home</a>
      </li>

      <li class="nav-list-item">
          <a class="nav-link" [routerLink]="['/about']">About Me</a>
      </li>
      <li class="nav-list-item">
          <a class="nav-link" [routerLink]="['/contact']">Contact</a>
      </li>
      <li class="nav-list-item">
        <a class="nav-link" [routerLink]="['/registration']"><i class="fas fa-user-plus"></i> Sign Up</a>
      </li>
      <li class="nav-list-item">
        <a class="nav-link" [routerLink]="['/login']"><i class="fas fa-sign-in-alt"></i> Login</a>
      </li>
  </ul>

</nav>
