<h1 class="lisa">WELCOME TO THE FAN PAGE OF LISA</h1>
<div class="accordian">
    <ul>
		<li>
			<div class="image_title">
				<a href="https://www.youtube.com/watch?v=wGgtSEUoLk4">Iconic Lisa</a>
			</div>
      	<a href="https://www.youtube.com/watch?v=wGgtSEUoLk4">
				<img src="assets/img/lisa.jpeg"/>
			</a>
		</li>
		<li>
			<div class="image_title">
				<a href="https://www.youtube.com/watch?v=2jqp3zpxp6Y">Beautiful Lisa</a>
			</div>
			<a href="https://www.youtube.com/watch?v=2jqp3zpxp6Y">
				<img src="assets/img/lisa2.jpg"/>
			</a>
		</li>
		<li>
			<div class="image_title">
				<a href="https://www.youtube.com/watch?v=z3-eGTgQxTY">Dancer Lisa</a>
			</div>
			<a href="https://www.youtube.com/watch?v=z3-eGTgQxTY">
				<img src="assets/img/lisa4.jpeg"/>
			</a>
		</li>
		<li>
			<div class="image_title">
				<a href="https://www.youtube.com/watch?v=nh8F380RXAY">Magnificient Lisa</a>
			</div>
			<a href="https://www.youtube.com/watch?v=nh8F380RXAY">
				<img src="assets/img/lisa1.jpeg"/>
			</a>
		</li>
		<li>
			<div class="image_title">
				<a href="https://www.youtube.com/watch?v=-uwpnsEXw4k">All Rounder Lisa</a>
			</div>
			<a href="https://www.youtube.com/watch?v=-uwpnsEXw4k">
				<img src="assets/img/lisa6.jpg"/>
			</a>
		</li>
  </ul>


</div>
<!-- <button (click)="firstClick()">Click me</button> -->

<app-footer></app-footer>
