.jumbotron {
  /* background: #358CCE; */
  color: rgb(12, 64, 112);
  border-radius: 0px;
  }
  .jumbotron-sm { padding-top: 24px;
  padding-bottom: 24px; }
  .jumbotron small {
  color: rgb(22, 63, 124);
  }
  .h1 small {
  font-size: 24px;
  }
