mat-card {
  width: 60%;
  margin: auto;
  margin-bottom: 20px;
}

mat-form-field input textarea{
  width: 100%;

}

textarea {
  margin-top: 10px;
}

 button {
   margin-top: 10px;
   margin-left: 10px;
 }

 .box {
   width: 30%;
 }

 mat-spinner {
   margin: auto;
 }

 input[type="file"]{
   visibility: hidden;
 }

 .image-preview {
   height: 5rem;
   margin: 1rem 0;
 }

 .image-preview img{
   height: 100%;
 }
